name: CI

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: smaple name for test
        run: npm start
      
      - run: npm run test
      - run: npm start